
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Editing Business</h3>
  </div>
  <div class="box-body">
    <%= render 'form', business: @business %>
  </div>
</div>
