<!-- Portfolio Section -->
<section class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Have More Fun!</h2>
      <hr class="lines">
      <br>
      <div class="row">
        <div class="col-md-6">
          <%= image_tag 'morefriends.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>
        </div>
        <div class="col-md-6">
          <div class="section-subtitle">
            <p>You can find a companion in three simple steps; create a companion request online, view interested people, and meet up at your agreed time. The companion app is for people who want to hire a companion for friendship. </p>
            <p>It doesn't need to be a "special occasion," some people hire a companion to go to the cinema, or walk in the park. You can decide the activity within the advertisement.</p>
            <p>You pay the membership fees to us; you negotiate and pay the companion hire costs directly to the companion.</p>
          </div>
          <br>
          <a href="https://owner.health/bookings" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Find Out More</a>
        </div>
      </div>
    </div>
</section>
<!-- Portfolio Section Ends -->
