<!-- Contact Section Start -->
<section id="contact" class="section" data-stellar-background-ratio="-0.2">
  <div class="contact-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="contact-us">
            <h3>Contact With us</h3>
            <div class="contact-address">
              <p>1 Martin Pl, Sydney NSW 2000</p>
              <p class="phone">Phone: (02) 8223 1111</span></p>
              <p class="email">E-mail: info@companionapp.com</span></p>
            </div>
            <div class="social-icons">
              <ul>
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="contact-block">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required="true">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="email" placeholder="Your Email" id="email" class="form-control" name="email" required="true">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" id="message" name="message" placeholder="Your Message" rows="8" required="true"></textarea>
                  </div>
                  <div class="submit-button text-center">
                    <button class="btn btn-common" type="submit">Send Message</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="lnr lnr-arrow-up"></i>
</a>

<div id="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
