<!-- Portfolio Section -->
<section class="section bg-white-liac">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">How does it work?</h2>
      <hr class="lines">
      <br>
      <div class="row text-center">
        <div class="col-md-3">
          <%= image_tag '004-search.png', class: 'icon-works', alt: "Home Physiotherapist" %>
          <p class="icon-black-text" >Search Local Area.</p>
        </div>
        <div class="col-md-3">
          <%= image_tag '003-user.png', class: 'icon-works', alt: "Home Physiotherapist" %>
          <p class="icon-black-text" >Find a companion.</p>
        </div>
        <div class="col-md-3">
          <%= image_tag '002-calendar.png', class: 'icon-works', alt: "Home Physiotherapist" %>
          <p class="icon-black-text" >Organise meet up.</p>
        </div>
        <div class="col-md-3">
          <%= image_tag 'champagne.png', class: 'icon-works', alt: "Home Physiotherapist" %>
          <p class="icon-black-text" >Make a new friend.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Section Ends -->
