<!-- Introduction Section Start -->
<section id="services" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
        Meet New People
      </h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <br>
      <div class="row">
        <div class="col-md-6 section-subtitle">
          How many times have you missed out or didn't attend because you didn't have a companion? Have you recently moved to an area and wanted a helping hand or friendly ear? Submit a companion request online today.
          <br><br>
          Companions for Hire is a website that allows you to get into contact with companions in your local area. You can post an advertisement to find a companion, search local adds, or contact a companion currently online. The companion application is designed to connect people who want friendship, with people available in the local area.
          <br><br>
          It's not a dating or hookup app, preferably a place to find a companion for an event or occasion.
          <br><br>
          <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Search companion requests</a>
          <br><br><br>
        </div>
        <div class="col-md-6">
          <%= image_tag 'morefriends.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Introduction Section End -->
