<!-- Introduction Section Start -->
<section id="services" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
        Heading One
      </h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <br>
      <div class="row">
        <div class="col-md-6 section-subtitle">
          <p>Lorem ipsum dolor sit amet, partem eloquentiam signiferumque no vim, mei te cetero laoreet noluisse, pro ei iisque admodum theophrastus. Oporteat assentior consectetuer ut vix, ad scripta corpora voluptua per. Et vix oratio veniam, periculis abhorreant eu cum. Ipsum zril sensibus ei his, mel ne quodsi albucius, eirmod inermis cum ad. Cum menandri constituam instructior cu.</p>
          <p>Lorem ipsum dolor sit amet, partem eloquentiam signiferumque no vim, mei te cetero laoreet noluisse, pro ei iisque admodum theophrastus. Oporteat assentior consectetuer ut vix, ad scripta corpora voluptua per. Et vix oratio veniam, periculis abhorreant eu cum. Ipsum zril sensibus ei his, mel ne quodsi albucius, eirmod inermis cum ad. Cum menandri constituam instructior cu.</p>
          <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Button Text</a>
          <br><br><br>
        </div>
        <div class="col-md-6">
          <%= image_tag 'morefriends.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Introduction Section End -->
