<section class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Job reports</h3>
        </div>
        <div class="box-body">
          <ul>
            <li><a href="#"> User completed jobs</a></li>
          </ul>
          <ul>
            <li><a href="#"> Location completed jobs</a></li>
          </ul>
          <ul>
            <li><a href="#"> Location incomplete jobs</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Assessment reports</h3>
        </div>
        <div class="box-body">
          <ul>
            <li><a href="#"> User completed assessments</a></li>
          </ul>
          <ul>
            <li><a href="#"> Location completed assessments</a></li>
          </ul>
          <ul>
            <li><a href="#"> Location expired assessments</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Client reports</h3>
        </div>
        <div class="box-body">
          <ul>
            <li><a href="#"> New clients</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
