<% content_for :breadcrumb do %>
<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="<%= admin_users_path %>">Users</a></li>
  <li class="breadcrumb-item active">New</li>
</ul>
<% end %>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">New user</h3>
  </div>
  <div class="box-body">
    <%= render 'form' %>
  </div>
</div>
